<div class="row mt-4">
  <div class="form-group col-lg-3 offset-lg-3">
    <label for="">Name</label>
    <input #nameInput type="text" class="form-control">
    <span style="color: red; font-size: 0.9em" [ngClass]="{hidden: !nameFieldValue}">Field required.</span>
  </div>  
  <div class="form-group col-lg-2 ml-3">
    <label for="">Amount</label>
    <input #amountInput type="number" class="form-control">
    <span style="color: red; font-size: 0.9em" [ngClass]="{hidden: !amountFieldValue}">Field required.</span>
  </div>  
  <div class="col-lg-6 offset-lg-3 align-content-around">
    <button class="btn btn-primary ml-3">Add ingredient</button>
    <button #editButton class="btn btn-info ml-1" (click)="setValues()" disabled>{{editing ? 'Save ingredient' : 'Edit ingredient' }}</button>
    <button #deleteButton class="btn btn-danger ml-1" (click)="deleteIngredient()" disabled>Delete ingredient</button>
  </div>
</div>