<div class="container mt-4">

  <div class="row">
    <div class="col-lg-5">
      <app-ingredient-control
        [ingredient]="ingredients[activeItem]"
        [index]="activeItem"
        (indexToChange)="changeIngredient($event)"
        (ingredientToEdit)="editIngredient($event)">
      </app-ingredient-control>
    </div>
    <div class="col-lg-4" *ngIf="ingredients">
      <div
        class="list-group"
        *ngFor="let ingredient of ingredients; let index = index">

          <app-ingredient
            (indexOfHighlight)="setIndex($event)"
            *appFilter="filterLetters; Ingredient: ingredient.name"
            [ingredient]="ingredient"
            [index]="index"
            [active]="index === activeItem">
          </app-ingredient>


        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
          <label for="nameFilter">Filter ingredient: </label>
          <input
            autocomplete="off"
            #inputElement
            type="text"
            name="nameFilter"
            class="form-control"
            (input)="onInputChange()">
          </div>
        </div>
  </div>
</div>

