<div class="container">
  <div class="row">
    <div class="col-lg-3 offset-lg-4">
      <div class="form-group text-center">
        <label for="name">Ingredient</label>
        <input
          #inputElement
          type="text"
          name="name"
          class="form-control m-2"
          (input)="onInputChange()">
      </div>
    </div>
  </div>
  <div class="row"
  *ngIf="ingredients">
    <div class="col-lg-5 offset-lg-3">
      <ul class="list-group">
        <div  *ngFor="let ingredient of ingredients">

          <li
          style="cursor: pointer"
          class="list-group-item border border-info"
          *appFilter="filterLetters; Ingredient: ingredient.name">
            {{ ingredient.name }} : {{ ingredient.amount}}
          </li>

        </div>
      </ul>
    </div>
  </div>
</div>

